// Colors
$primary-blue: hsl(246, 80%, 60%);
$primary-light-red-work: hsl(15, 100%, 70%);
$primary-soft-blue-play: hsl(195, 74%, 62%);
$primary-light-red-study: hsl(348, 100%, 68%);
$primary-lime-green-exercise: hsl(145, 58%, 55%);
$primary-violet-social: hsl(246, 64%, 52%);
$soft-orange-self-care: hsl(43, 84%, 65%);
$neutral-very-dark-blue: hsl(226, 46%, 10%);
$neutral-dark-blue: hsl(235, 46%, 20%);
$dasaturated-blue: hsl(235, 45%, 61%);
$neutral-pale-blue: hsl(236, 100%, 87%);

// Size and Position 
$icons-size: 5rem;
$icons-position-x-desktop: 150px;
$icons-position-y-desktop: -5.43px;
$icons-position-x-mobile: 200px;
$icons-position-y-mobile: -3px;

