body {
  background: $neutral-very-dark-blue;
  font-family: "Rubik";
  color: #fff;
}

.container {
  height: 35rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 35px auto 30px auto;
  max-width: 1183px;
}

@media screen and (max-width: 1080px) {
  .container {
    height: auto;
    flex-direction: column;
    max-width: 375px;
  }
}
