.header-profile {
  padding: 20px 0;
  border-radius: 15px;
  width: 100%;
  background: var(--primary-blue);
  display: flex;
  align-items: center;
  justify-content: center;

  .profile-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fff;
    margin-right: 35px;
  }

  .user {
    display: flex;
    flex-direction: column;
    text-align: left;

    span {
      font-size: 15px;
      font-weight: 300;      
      color: var(--neutral-pale-blue)
    }

    .user-name {
      margin: 0;
      font-size: 18px;
      font-weight: 400;
      margin-top: 5.8px;
      color: var(--primary-white);
    }
  }
}
