.activity {
  width: 16rem;
  height: 15rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  border-radius: 20px;
  background: $neutral-dark-blue;
  
}

@media screen and (max-width: 1080px) {
  .activity {
    height: 11.748rem;
    width: 100%;
    margin-top: 1.5rem;
  }
}
