.activity {
  width: 18rem;
  display: flex;
  flex-direction: column;

  border-radius: 15px;
  background: $neutral-dark-blue;

  .activity-image {
    width: 88px;
    height: 56px;
    object-fit: cover;
    align-self: flex-end;
  }
}

@media screen and (max-width: 1080px) {
  .activity {
    width: 100%;
    margin-top: 1.5rem;
  }
}
