.activity-content {
  height: 12rem;
  cursor: pointer;
  background: $neutral-dark-blue;
  border-radius: 15px;
  padding: 0 1.5rem;
  transition: background 0.3s ease-in-out;

  .activity-content_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.3rem;
  }

  .content_title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
  }
}

.activity-content:hover {
  background: hsl(235, 46%, 33%);
}

@media screen and (max-width: 1080px) {
  .activity-content {
    height: auto;
    padding-bottom: 1.2rem;
  }
}
