.user-menu ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 1.5rem 0;

  .menu-item {
    color: $neutral-pale-blue;
    cursor: pointer;
    opacity: 0.5;
     
    &:hover {
      opacity: 1;
    }
  }

  .active {
    opacity: 1;
  }
}