.user {
  background: $neutral-dark-blue;
  width: 35%;
  height: 35rem;
  border-radius: 15px;
}

@media screen and (max-width: 1080px) {
  .user {
    display: flex;
    flex-direction: column;
    width: 85%;
  }
}
