body {
  background: var(--neutral-very-dark-blue);
  font-family: 'Rubik';
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 375px;
  margin: 50px auto 0 auto;
}

.profile {
  background: var(--neutral-dark-blue);
  display: flex;
  flex-direction: column;
  width: 85%;
  border-radius: 15px;
}

.profile header {
  padding: 10px 0;
  border-radius: 15px;
  width: 100%;
  background: var(--primary-blue);
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile header img {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.profile header div {
  display: flex;
  flex-direction: column;

}

.profile h2 {
 margin: 0;
 font-size: 18px; 
 font-weight: 300;
}