.activities {
  display: grid; 
  grid-template-areas: 
    "work play study"
    "exercise social self_care";
  gap: 2rem;
  margin-left: 2rem;
  width: 75%;
  height: 100%;
  flex-flow: wrap;
  align-items: flex-end;
  flex-grow: 2;
}

@media screen and (max-width: 1080px) {
  .activities {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: 0;
    width: 85%;
  }
}
