.activities {
  margin-left: 2rem;
  display: flex;
  width: 60%;
  flex-flow: wrap;
  flex-grow: 2;
}

@media screen and (max-width: 1080px) {
  .activities {
    margin-left: 0;
    flex-direction: column;
    width: 85%;
  }
}
