.exercise {
  background: $primary-lime-green-exercise;
  background-image: url(../../assets/images/icon-exercise.svg);
  background-position: $icons-position-x-desktop $icons-position-y-desktop;
  background-repeat: no-repeat;
  background-size: $icons-size;

  grid-area: exercise;
}

@media screen and (max-width: 1080px) {
  .exercise {
    background-position: $icons-position-x-mobile $icons-position-y-mobile;
  }
}