.play {
  background: $primary-soft-blue-play;
  background-image: url(../../assets/images/icon-play.svg);
  background-position: $icons-position-x-desktop $icons-position-y-desktop;
  background-repeat: no-repeat;
  background-size: $icons-size;

  grid-area: play;
}

@media screen and (max-width: 1080px) {
  .play {
    background-position: $icons-position-x-mobile $icons-position-y-mobile;
  }
}