.self-care {
  background: $soft-orange-self-care;  
  background-image: url(../../assets/images/icon-self-care.svg);
  background-position: $icons-position-x-desktop $icons-position-y-desktop;
  background-repeat: no-repeat;
  background-size: $icons-size;

  grid-area: self_care;
}

@media screen and (max-width: 1080px) {
  .self-care {
    background-position: $icons-position-x-mobile $icons-position-y-mobile;
  }
}