.social {
  background: $primary-violet-social;
  background-image: url(../../assets/images/icon-social.svg);
  background-position: $icons-position-x-desktop $icons-position-y-desktop;
  background-repeat: no-repeat;
  background-size: $icons-size;

  grid-area: social;
}

@media screen and (max-width: 1080px) {
  .social {
    background-position: $icons-position-x-mobile $icons-position-y-mobile;
  }
}