.social {
  background: $primary-violet-social;
  background-image: url(../../assets/images/icon-social.svg);
  background-position: 119px -3px;
  background-repeat: no-repeat;
  background-size: 7rem;

  grid-area: social;
}