.study {
  background: $primary-light-red-study;
  background-image: url(../../assets/images/icon-study.svg);
  background-position: 119px -3px;
  background-repeat: no-repeat;
  background-size: 7rem;

  grid-area: study;
}