.study {
  background: $primary-light-red-study;
  background-image: url(../../assets/images/icon-study.svg);
  background-position: $icons-position-x-desktop $icons-position-y-desktop;
  background-repeat: no-repeat;
  background-size: $icons-size;

  grid-area: study;
}

@media screen and (max-width: 1080px) {
  .study {
    background-position: $icons-position-x-mobile $icons-position-y-mobile;
  }
}